<h2>Posts</h2>
{{#each posts}}

    <a href="/post/{{link}}" style="font-size: 1.2em">{{title}}</a>
    <p>Posted on {{date}}</p>
    <br>
{{/each}}

<div class="footer">
    <a href="/new" style="font-weight: normal">New Post</a>
</div>

