<h1>New Post</h1>
<p>Create a new post.</p>
<form action="/create" method="post">
    <p><input id="title" type="text" placeholder="Title" name="title"></p>
    <p><textarea id="text" placeholder="Contents" name="text"></textarea></p>
    <p><input type="submit" value="Post" class="btn"></p>
</form>

<script>
    $(document).ready(function (){
        validate();
        $('#title, #text').change(validate);
    });

    function validate(){
        if ($('#title').val().length > 0 && $('#text').val().length > 0) {
            $("input[type=submit]").prop("disabled", false);
        }
        else {
            $("input[type=submit]").prop("disabled", true);
        }
    }
</script>