<html>
<head>
    <title>{{title}}</title>
    <style>
        body{
            padding: 40px;
            font: 16px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
        }
        h1{
            font-size: 2em;
            color: dimgray;
            border-bottom: 1px solid darkgray;

        }
        h2{
            font-size: 1.2em;
            color: gray
        }
        .divisor{
            border-bottom: 1px solid darkgray;

        }

    </style>
</head>
<body>
    {{{@body}}}
</body>

</html>