<html>
<head>
    <title>the thinks of an age</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery.js"></script>
</head>
<body>
    <div class="header">
        <h1><a href="/">The Blog of Luis Medina</a></h1>
        <h2 style="margin-top: 0%">I post a little bit of anime, video games, and programming.</h2>
        <div class="divisor"></div>
    </div>
    <div class="content">
        {{{@body}}}
    </div>

</body>

</html>